In [7]:
import pandas as pd
import numpy as np
import matplotlib as mp

TOPDIR = f'/home/pp/program/jupyter/Brezno - Klima/'
TEMPDIR= f'/home/pp/program/jupyter/Brezno - Klima/temp/'
UHRNDIR = f'/home/pp/program/jupyter/Brezno - Klima/uhrn/'
TEMPTESTFILE = TEMPDIR + 'teploty_breznox.csv'
UHRNTESTFILE = UHRNDIR + '2025-07-30-23-45.html'
tables = pd.read_csv(TEMPTESTFILE)

In [8]:
tables.dtypes

Unnamed: 0      int64
Stanica        object
Teplota       float64
Smer           object
Rýchlosť        int64
Nárazy        float64
Tlak          float64
Oblačnosť     float64
Počasie       float64
Graf          float64
Datum          object
Čas            object
datetime       object
dtype: object

In [9]:

df = tables.loc[1:5]
df

,Unnamed: 0,Stanica,Teplota,Smer,Rýchlosť,Nárazy,Tlak,Oblačnosť,Počasie,Graf,Datum,Čas,datetime
1,8,Brezno,10.9,JV,1,NaN,1016.2,NaN,NaN,NaN,01.08.2025,01:00,2025-08-01 01:00
2,8,Brezno,10.9,JV,1,NaN,1016.1,NaN,NaN,NaN,01.08.2025,02:00,2025-08-01 02:00
3,8,Brezno,10.0,V,1,NaN,1016.4,NaN,NaN,NaN,01.08.2025,03:00,2025-08-01 03:00
4,8,Brezno,9.8,BEZV,0,NaN,1016.3,NaN,NaN,NaN,01.08.2025,04:00,2025-08-01 04:00
5,8,Brezno,8.9,BEZV,0,NaN,1016.5,NaN,NaN,NaN,01.08.2025,05:00,2025-08-01 05:00

In [10]:
df.iloc[0,10]
print(df.iloc[:, 12])
df.datetime = pd.to_datetime(df.iloc[:,12])
#df.astype(df.datetime,'date64[pyarrow')
df.dtypes

1    2025-08-01 01:00
2    2025-08-01 02:00
3    2025-08-01 03:00
4    2025-08-01 04:00
5    2025-08-01 05:00
Name: datetime, dtype: object

/tmp/ipykernel_3132/1694072901.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.datetime = pd.to_datetime(df.iloc[:,12])

Unnamed: 0             int64
Stanica               object
Teplota              float64
Smer                  object
Rýchlosť               int64
Nárazy               float64
Tlak                 float64
Oblačnosť            float64
Počasie              float64
Graf                 float64
Datum                 object
Čas                   object
datetime      datetime64[ns]
dtype: object

In [67]:
# df[['Teplota':'Tlak']] invalid syntax
print(df)
#df['Teplota','Tlak']
df.loc[:,['Teplota','Tlak']]
#df.loc[:,['Teplota':'Tlak']]
df.iloc[0:2, 3:]
df.Tlak
#df[0:5][1:2]
df.index = df.Tlak
df
df.iloc[0:5]

        Unnamed: 0 Stanica  Teplota  Smer  Rýchlosť  Nárazy    Tlak  \
Tlak
1016.2           8  Brezno     10.9    JV         1     NaN  1016.2
1016.1           8  Brezno     10.9    JV         1     NaN  1016.1
1016.4           8  Brezno     10.0     V         1     NaN  1016.4
1016.3           8  Brezno      9.8  BEZV         0     NaN  1016.3
1016.5           8  Brezno      8.9  BEZV         0     NaN  1016.5

        Oblačnosť  Počasie  Graf       Datum    Čas            datetime
Tlak
1016.2        NaN      NaN   NaN  01.08.2025  01:00 2025-08-01 01:00:00
1016.1        NaN      NaN   NaN  01.08.2025  02:00 2025-08-01 02:00:00
1016.4        NaN      NaN   NaN  01.08.2025  03:00 2025-08-01 03:00:00
1016.3        NaN      NaN   NaN  01.08.2025  04:00 2025-08-01 04:00:00
1016.5        NaN      NaN   NaN  01.08.2025  05:00 2025-08-01 05:00:00

,Unnamed: 0,Stanica,Teplota,Smer,Rýchlosť,Nárazy,Tlak,Oblačnosť,Počasie,Graf,Datum,Čas,datetime
Tlak,,,,,,,,,,,,,
1016.2,8,Brezno,10.9,JV,1,NaN,1016.2,NaN,NaN,NaN,01.08.2025,01:00,2025-08-01 01:00:00
1016.1,8,Brezno,10.9,JV,1,NaN,1016.1,NaN,NaN,NaN,01.08.2025,02:00,2025-08-01 02:00:00
1016.4,8,Brezno,10.0,V,1,NaN,1016.4,NaN,NaN,NaN,01.08.2025,03:00,2025-08-01 03:00:00
1016.3,8,Brezno,9.8,BEZV,0,NaN,1016.3,NaN,NaN,NaN,01.08.2025,04:00,2025-08-01 04:00:00
1016.5,8,Brezno,8.9,BEZV,0,NaN,1016.5,NaN,NaN,NaN,01.08.2025,05:00,2025-08-01 05:00:00

In [78]:
df=df.reset_index(drop=True)

In [79]:
df

,Unnamed: 0,Stanica,Teplota,Smer,Rýchlosť,Nárazy,Tlak,Oblačnosť,Počasie,Graf,Datum,Čas,datetime
0,8,Brezno,10.9,JV,1,NaN,1016.2,NaN,NaN,NaN,01.08.2025,01:00,2025-08-01 01:00:00
1,8,Brezno,10.9,JV,1,NaN,1016.1,NaN,NaN,NaN,01.08.2025,02:00,2025-08-01 02:00:00
2,8,Brezno,10.0,V,1,NaN,1016.4,NaN,NaN,NaN,01.08.2025,03:00,2025-08-01 03:00:00
3,8,Brezno,9.8,BEZV,0,NaN,1016.3,NaN,NaN,NaN,01.08.2025,04:00,2025-08-01 04:00:00
4,8,Brezno,8.9,BEZV,0,NaN,1016.5,NaN,NaN,NaN,01.08.2025,05:00,2025-08-01 05:00:00

In [77]:
df['Stanica']

Tlak
1016.2    Brezno
1016.1    Brezno
1016.4    Brezno
1016.3    Brezno
1016.5    Brezno
Name: Stanica, dtype: object

In [81]:
df

,Unnamed: 0,Stanica,Teplota,Smer,Rýchlosť,Nárazy,Tlak,Oblačnosť,Počasie,Graf,Datum,Čas,datetime
0,8,Brezno,10.9,JV,1,NaN,1016.2,NaN,NaN,NaN,01.08.2025,01:00,2025-08-01 01:00:00
1,8,Brezno,10.9,JV,1,NaN,1016.1,NaN,NaN,NaN,01.08.2025,02:00,2025-08-01 02:00:00
2,8,Brezno,10.0,V,1,NaN,1016.4,NaN,NaN,NaN,01.08.2025,03:00,2025-08-01 03:00:00
3,8,Brezno,9.8,BEZV,0,NaN,1016.3,NaN,NaN,NaN,01.08.2025,04:00,2025-08-01 04:00:00
4,8,Brezno,8.9,BEZV,0,NaN,1016.5,NaN,NaN,NaN,01.08.2025,05:00,2025-08-01 05:00:00

In [84]:
df.loc[0]

Unnamed: 0                      8
Stanica                    Brezno
Teplota                      10.9
Smer                           JV
Rýchlosť                        1
Nárazy                        NaN
Tlak                       1016.2
Oblačnosť                     NaN
Počasie                       NaN
Graf                          NaN
Datum                  01.08.2025
Čas                         01:00
datetime      2025-08-01 01:00:00
Name: 0, dtype: object

In [ ]:
df.loc[0:3]

,Unnamed: 0,Stanica,Teplota,Smer,Rýchlosť,Nárazy,Tlak,Oblačnosť,Počasie,Graf,Datum,Čas,datetime
0,8,Brezno,10.9,JV,1,NaN,1016.2,NaN,NaN,NaN,01.08.2025,01:00,2025-08-01 01:00:00
1,8,Brezno,10.9,JV,1,NaN,1016.1,NaN,NaN,NaN,01.08.2025,02:00,2025-08-01 02:00:00
2,8,Brezno,10.0,V,1,NaN,1016.4,NaN,NaN,NaN,01.08.2025,03:00,2025-08-01 03:00:00
3,8,Brezno,9.8,BEZV,0,NaN,1016.3,NaN,NaN,NaN,01.08.2025,04:00,2025-08-01 04:00:00

In [88]:
df.iloc[0:3].count

<bound method DataFrame.count of    Unnamed: 0 Stanica  Teplota Smer  Rýchlosť  Nárazy    Tlak  Oblačnosť  \
0           8  Brezno     10.9   JV         1     NaN  1016.2        NaN
1           8  Brezno     10.9   JV         1     NaN  1016.1        NaN
2           8  Brezno     10.0    V         1     NaN  1016.4        NaN

   Počasie  Graf       Datum    Čas            datetime
0      NaN   NaN  01.08.2025  01:00 2025-08-01 01:00:00
1      NaN   NaN  01.08.2025  02:00 2025-08-01 02:00:00
2      NaN   NaN  01.08.2025  03:00 2025-08-01 03:00:00  >

In [89]:
df.count()

Unnamed: 0    5
Stanica       5
Teplota       5
Smer          5
Rýchlosť      5
Nárazy        0
Tlak          5
Oblačnosť     0
Počasie       0
Graf          0
Datum         5
Čas           5
datetime      5
dtype: int64

In [90]:
df.columns.value_counts()

Unnamed: 0    1
Stanica       1
Teplota       1
Smer          1
Rýchlosť      1
Nárazy        1
Tlak          1
Oblačnosť     1
Počasie       1
Graf          1
Datum         1
Čas           1
datetime      1
Name: count, dtype: int64

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5 non-null      int64
 1   Stanica     5 non-null      object
 2   Teplota     5 non-null      float64
 3   Smer        5 non-null      object
 4   Rýchlosť    5 non-null      int64
 5   Nárazy      0 non-null      float64
 6   Tlak        5 non-null      float64
 7   Oblačnosť   0 non-null      float64
 8   Počasie     0 non-null      float64
 9   Graf        0 non-null      float64
 10  Datum       5 non-null      object
 11  Čas         5 non-null      object
 12  datetime    5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(2), object(4)
memory usage: 652.0+ bytes

In [93]:
df.shape

(5, 13)

In [94]:
df.ndim

2

In [95]:
df.values

array([[8, 'Brezno', 10.9, 'JV', 1, nan, 1016.2, nan, nan, nan,
        '01.08.2025', '01:00', Timestamp('2025-08-01 01:00:00')],
       [8, 'Brezno', 10.9, 'JV', 1, nan, 1016.1, nan, nan, nan,
        '01.08.2025', '02:00', Timestamp('2025-08-01 02:00:00')],
       [8, 'Brezno', 10.0, 'V', 1, nan, 1016.4, nan, nan, nan,
        '01.08.2025', '03:00', Timestamp('2025-08-01 03:00:00')],
       [8, 'Brezno', 9.8, 'BEZV', 0, nan, 1016.3, nan, nan, nan,
        '01.08.2025', '04:00', Timestamp('2025-08-01 04:00:00')],
       [8, 'Brezno', 8.9, 'BEZV', 0, nan, 1016.5, nan, nan, nan,
        '01.08.2025', '05:00', Timestamp('2025-08-01 05:00:00')]],
      dtype=object)

In [97]:
s = df.Tlak
s

0    1016.2
1    1016.1
2    1016.4
3    1016.3
4    1016.5
Name: Tlak, dtype: float64

In [98]:
s[0:3]

0    1016.2
1    1016.1
2    1016.4
Name: Tlak, dtype: float64

In [99]:
type(s)

pandas.core.series.Series

In [102]:
s.max() -s.min()

np.float64(0.39999999999997726)

In [103]:
d = s+1000
d

0    2016.2
1    2016.1
2    2016.4
3    2016.3
4    2016.5
Name: Tlak, dtype: float64

In [104]:
df

,Unnamed: 0,Stanica,Teplota,Smer,Rýchlosť,Nárazy,Tlak,Oblačnosť,Počasie,Graf,Datum,Čas,datetime
0,8,Brezno,10.9,JV,1,NaN,1016.2,NaN,NaN,NaN,01.08.2025,01:00,2025-08-01 01:00:00
1,8,Brezno,10.9,JV,1,NaN,1016.1,NaN,NaN,NaN,01.08.2025,02:00,2025-08-01 02:00:00
2,8,Brezno,10.0,V,1,NaN,1016.4,NaN,NaN,NaN,01.08.2025,03:00,2025-08-01 03:00:00
3,8,Brezno,9.8,BEZV,0,NaN,1016.3,NaN,NaN,NaN,01.08.2025,04:00,2025-08-01 04:00:00
4,8,Brezno,8.9,BEZV,0,NaN,1016.5,NaN,NaN,NaN,01.08.2025,05:00,2025-08-01 05:00:00

In [108]:
list(df.columns)

['Unnamed: 0',
 'Stanica',
 'Teplota',
 'Smer',
 'Rýchlosť',
 'Nárazy',
 'Tlak',
 'Oblačnosť',
 'Počasie',
 'Graf',
 'Datum',
 'Čas',
 'datetime']

In [112]:
df[['Teplota','Tlak','Stanica']]

   Teplota    Tlak Stanica
0     10.9  1016.2  Brezno
1     10.9  1016.1  Brezno
2     10.0  1016.4  Brezno
3      9.8  1016.3  Brezno
4      8.9  1016.5  Brezno

In [114]:
df.loc[1:3]

,Unnamed: 0,Stanica,Teplota,Smer,Rýchlosť,Nárazy,Tlak,Oblačnosť,Počasie,Graf,Datum,Čas,datetime
1,8,Brezno,10.9,JV,1,NaN,1016.1,NaN,NaN,NaN,01.08.2025,02:00,2025-08-01 02:00:00
2,8,Brezno,10.0,V,1,NaN,1016.4,NaN,NaN,NaN,01.08.2025,03:00,2025-08-01 03:00:00
3,8,Brezno,9.8,BEZV,0,NaN,1016.3,NaN,NaN,NaN,01.08.2025,04:00,2025-08-01 04:00:00

In [116]:
df.loc[[0, 1, 4],['Teplota','Tlak','Stanica']]

   Teplota    Tlak Stanica
0     10.9  1016.2  Brezno
1     10.9  1016.1  Brezno
4      8.9  1016.5  Brezno

In [117]:
df.iloc[[0, 1, 4],[0, 1, 4]]

   Unnamed: 0 Stanica  Rýchlosť
0           8  Brezno         1
1           8  Brezno         1
4           8  Brezno         0

In [127]:
fr = pd.DataFrame(np.arange(1, 51, 2).reshape(5,5), index = list('abcde'), columns=list('uvxyz'))
print(type(fr[['x']]))
print(type(fr['x']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [129]:
fr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   u       5 non-null      int64
 1   v       5 non-null      int64
 2   x       5 non-null      int64
 3   y       5 non-null      int64
 4   z       5 non-null      int64
dtypes: int64(5)
memory usage: 240.0+ bytes

In [130]:
fr32 = fr.astype('int16')
fr32.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   u       5 non-null      int16
 1   v       5 non-null      int16
 2   x       5 non-null      int16
 3   y       5 non-null      int16
 4   z       5 non-null      int16
dtypes: int16(5)
memory usage: 90.0+ bytes

In [138]:
type(fr.columns[0])
fr.columns = ['x', 'y', 'zzz', 'u', 'v']
fr = fr.rename(columns = {'x' : 'xxx'})
fr

   xxx   y  zzz   u   v
a    1   3    5   7   9
b   11  13   15  17  19
c   21  23   25  27  29
d   31  33   35  37  39
e   41  43   45  47  49

In [ ]:
df = df.rename(columns={'Teplota': 'Teplota_C'})