In [6]:
import pandas as pd
import numpy as np
import matplotlib as mp

TOPDIR = f'/home/pp/program/jupyter/Brezno - Klima/'
TEMPDIR= f'/home/pp/program/jupyter/Brezno - Klima/temp/'
UHRNDIR = f'/home/pp/program/jupyter/Brezno - Klima/uhrn/'
TEMPTESTFILE = TEMPDIR + 'teploty_breznox.csv'
UHRNTESTFILE = UHRNDIR + '2025-07-30-23-45.html'
tables = pd.read_csv(TEMPTESTFILE)

In [7]:
tables.dtypes

Unnamed: 0      int64
Stanica        object
Teplota       float64
Smer           object
Rýchlosť        int64
Nárazy        float64
Tlak          float64
Oblačnosť     float64
Počasie       float64
Graf          float64
Datum          object
Čas            object
datetime       object
dtype: object

In [15]:
print(tables.size)
print(tables.shape)
print(tables.columns)
print(tables.index)
# print(tables.head(10))
# print(tables.tail(10))
# print(tables.describe())
# print(tables.info())
# print(tables.memory_usage())
# print(tables.isnull().sum())
# print(tables.isna().sum())
# print(tables['Teplota'].mean())
print(tables['Teplota'].info())
print(tables['Teplota'].describe())

5408
(416, 13)
Index(['Unnamed: 0', 'Stanica', 'Teplota', 'Smer', 'Rýchlosť', 'Nárazy',
       'Tlak', 'Oblačnosť', 'Počasie', 'Graf', 'Datum', 'Čas', 'datetime'],
      dtype='object')
RangeIndex(start=0, stop=416, step=1)
<class 'pandas.core.series.Series'>
RangeIndex: 416 entries, 0 to 415
Series name: Teplota
Non-Null Count  Dtype
--------------  -----
416 non-null    float64
dtypes: float64(1)
memory usage: 3.4 KB
None
count    416.000000
mean      19.138942
std        6.817969
min        5.500000
25%       13.800000
50%       18.350000
75%       24.000000
max       34.200000
Name: Teplota, dtype: float64

In [30]:
t = tables['Teplota']
print(type(t))
print(t.info())
print(t.describe())
print(type(tables['Teplota'].values))
print(type(t.values))
print(t.name)
print(t.index)
# print(t.values)
print(t.values.shape)
print(t.values.size)
print(t.values.dtype)
print(t.values[1:10])
print(t.values[:10])

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
RangeIndex: 416 entries, 0 to 415
Series name: Teplota[C]
Non-Null Count  Dtype
--------------  -----
416 non-null    float64
dtypes: float64(1)
memory usage: 3.4 KB
None
count    416.000000
mean      19.138942
std        6.817969
min        5.500000
25%       13.800000
50%       18.350000
75%       24.000000
max       34.200000
Name: Teplota[C], dtype: float64
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
Teplota[C]
RangeIndex(start=0, stop=416, step=1)
(416,)
416
float64
[10.9 10.9 10.   9.8  8.9  8.7  9.8 12.2 16.3]
[11.7 10.9 10.9 10.   9.8  8.9  8.7  9.8 12.2 16.3]

In [33]:
print(t.index)
list(t.index)

RangeIndex(start=0, stop=416, step=1)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415]

In [34]:
t.loc

In [35]:
t[10]

np.float64(19.4)

In [37]:
t.loc[10]
t.iloc[10]

np.float64(19.4)

In [45]:
t[t > t.mean()+t.std()]

181    26.0
182    27.2
183    27.7
184    28.2
185    28.3
       ...
373    34.1
374    33.6
375    31.8
376    29.1
377    28.3
Name: Teplota[C], Length: 72, dtype: float64

In [70]:
td = tables.loc[0:10,'Teplota']
td = tables.iloc[:10,2:3]
print(type(td))
td = tables.iloc[1:10,[3]]
print(type(td))
td = tables.iloc[[3]]                                     
print(type(td))
td = tables.iloc[3:4]                                     
print(type(td))
td = tables.iloc[[3],[2]]                                     
print(type(td))
td = tables.iloc[[3,2,1],[2,4,3]]                                     
print(type(td))
td

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

   Teplota  Rýchlosť Smer
3     10.0         1    V
2     10.9         1   JV
1     10.9         1   JV

In [51]:
td

0     11.7
1     10.9
2     10.9
3     10.0
4      9.8
5      8.9
6      8.7
7      9.8
8     12.2
9     16.3
10    19.4
Name: Teplota[C], dtype: float64

In [28]:
t.name = 'Teplota[C]'
print(t)

0      11.7
1      10.9
2      10.9
3      10.0
4       9.8
       ...
411    21.7
412    19.3
413    16.7
414    14.9
415    13.3
Name: Teplota[C], Length: 416, dtype: float64